nav>ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    background-color: #c9e2c1;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.nav-bar {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.main {
    margin-top: 100px;
    text-align: center;

}

body {
    background-image: url("https://images.unsplash.com/photo-1710162734135-8dc148f53abe?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: 14px arial, sans-serif;
}

.about-content {
    margin-top: 100px;
    text-align: center;
}

.contact {
    margin-top: 100px;

}

.home-content {
    margin-top: 100px;
    text-align: center;
}

.home-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 20px;
}

.contact-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 20px;
}

.project-image {
    width: 45%;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.project-item {
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-description {
    text-align: center;
}

.projects-content {
    margin-top: 100px;
    text-align: center;
}